/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;  /* Fond noir */
    color: white;  /* Texte blanc */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 48px;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff; /* Couleur du bouton */
    color: rgb(0, 0, 0);
    transition: all 0.3s ease; /* Transition pour animation */
}

/* Animation de brillance */
@keyframes shine {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.7), 0 0 50px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    }
}

/* Effet d'agrandissement et brillance au survol */
button:hover {
    transform: scale(1.2); /* Agrandir le bouton */
    animation: shine 1s infinite alternate; /* Animation de brillance */
}